<div class="row">
  <div class="col-xs-12 col-lg-4">
    <dt class="text-uppercase account-page-user-info-item-title">
      <h4 class="mb-3"><%= link_to Spree.t(:my_quotation), variant_quotation_requests_path, method: :get %></h4>
    </dt>
  </div>
</div>
